{% load static %}
{% if user.user_type == '1' %}
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="navbar-brand-wrapper d-flex align-items-center">
      <a class="navbar-brand brand-logo" href="{% url 'admin_home' %}">
        <p style="color: aliceblue;font-size: medium;font-weight: bolder;">Complaint Managemet S/Y</p>
      </a>
      <a class="navbar-brand brand-logo-mini" href="{% url 'admin_home' %}"><img src="{% static 'assets/images/logo-mini.svg'%}" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
      <h5 class="mb-0 font-weight-medium d-none d-lg-flex">Welcome {{user.first_name}} {{user.last_name}} dashboard!</h5>
      <ul class="navbar-nav navbar-nav-right ml-auto">
        
        

      
        <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
          <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <img class="img-xs rounded-circle ml-2" src="/{{user.profile_pic}}" alt="Profile image"> <span class="font-weight-normal"> {{user.first_name}} {{user.last_name}} </span></a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
            <div class="dropdown-header text-center">
              <img class="img-md rounded-circle" src="/{{user.profile_pic}}" alt="Profile image">
              <p class="mb-1 mt-3">{{user.first_name}} {{user.last_name}}</p>
              <p class="font-weight-light text-muted mb-0">{{user.email}}</p>
            </div>
            <a class="dropdown-item" href="{% url 'profile' %}"><i class="dropdown-item-icon icon-user text-primary"></i> My Profile</a>
            <a class="dropdown-item" href="{% url 'change_password' %}"><i class="dropdown-item-icon icon-speech text-primary"></i> Change Password</a>
          
            <a class="dropdown-item"  href="{% url 'logout' %}"><i class="dropdown-item-icon icon-power text-primary"></i>Sign Out</a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>

  {% else  %}
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="navbar-brand-wrapper d-flex align-items-center">
      <a class="navbar-brand brand-logo" href="{% url 'user_home' %}">
        <p style="color: aliceblue;font-size: medium;font-weight: bolder;">Complaint Managemet S/Y</p>
      </a>
      <a class="navbar-brand brand-logo-mini" href="{% url 'user_home' %}"><img src="{% static 'assets/images/logo-mini.svg'%}" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
      <h5 class="mb-0 font-weight-medium d-none d-lg-flex">Welcome {{user.first_name}} {{user.last_name}} dashboard!</h5>
      <ul class="navbar-nav navbar-nav-right ml-auto">
       
    
     
        <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
          <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <img class="img-xs rounded-circle ml-2" src="/{{user.profile_pic}}" alt="Profile image" width="100"> <span class="font-weight-normal"> {{user.first_name}} {{user.last_name}}</span></a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
            <div class="dropdown-header text-center">
              <img class="img-md rounded-circle" src="/{{user.profile_pic}}" alt="Profile image">
              <p class="mb-1 mt-3">{{user.first_name}} {{user.last_name}}</p>
              <p class="font-weight-light text-muted mb-0">{{user.email}}</p>
            </div>
            <a class="dropdown-item" href="{% url 'profile' %}"><i class="dropdown-item-icon icon-user text-primary"></i> My Profile</a>
            <a class="dropdown-item" href="{% url 'change_password' %}"><i class="dropdown-item-icon icon-speech text-primary"></i> Change Password</a>
          
            <a class="dropdown-item"  href="{% url 'logout' %}"><i class="dropdown-item-icon icon-power text-primary"></i>Sign Out</a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>{% endif %}